*.iml
.idea/
target/
pom.xml.versionsBackup
dependency-reduced-pom.xml
*.class
*.log
*.ipr
*.iws
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
.scala_dependencies
.worksheet